# Environment configurations
.env

# Python virtual environment
venv/
ENV/
env/

# Python cache files
.pytest_cache
__pycache__/
*.py[cod]
*$py.class

# IDE configurations
.vscode/
.idea/
tests/data

# Local game save files
game/adventures/
game/data

# Node.js dependencies
node_modules/

